.openbox-overlay,.navigation-menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    z-index: 99;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/* Mobile Navigation */
body {
	@include max($lg) {
        &[class$="-active"] {
            cursor: pointer;
        }
		&.mobile-navigation-active {
			#mobile-navigation {
                height: 100%;
			}
			.navigation-menu-overlay {
				display: block;
			}
		}
	}
}

.mobile-navigation-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacer-5);
}

#mobile-navigation {
    position: fixed;
    top: 0;
    width: 100%;
    height: 0;
    z-index: 999;
    transition: all 0.4s linear;
    background: #ffffff;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    .mobile-navigation {
        position: relative;
        height: 60%;
        overflow: hidden;
        @include center;
    }
    .level-1 {
        flex: 1 0 0%;
        padding: 0 var(--spacer-5);
        a {
            @include center;
            color: $color-text;
            font-size: var(--font-size-20);
            font-weight: 325;
            text-align: center;
            padding: var(--spacer-10) 0;
            border-bottom: 2px solid #dadbdc; 
        }
        > ul {
            > li {
                &:last-child {
                    > a {
                        border: none;
                    }
                }
            }
        }
    }
}

.form-control {
    color: $color-text;
    font-size: var(--font-size-13);
    border-radius: $border-radius;
    border: 1px solid $color-border;
    &::placeholder {
        color: $color-text;
    }
}

.form-group {
    .required {
        font-size: var(--font-size-14);
        @include max($sm) {
            right: 12px;
        }
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: $color-text;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
}

.form-control:focus {
    -webkit-box-shadow: 0 0 3px 1px #f0f0f0 !important;
    box-shadow: 0 0 3px 1px #f0f0f0 !important;
}

.form-group {
    select.form-control:not([size]):not([multiple]),
    select:not([size]) {
        height: 48px;
    }
}

/* Button Style */
.btn {
	font-size: var(--font-size-16);
	border-radius: $border-radius;
	transition: $transition;
	&.btn-primary {
		color: $color-white;
		background: $color-primary;
		&:not(.btn-loading):active,
		&:not(.btn-loading).active,
		&:not(.btn-loading):hover,
		&:not(.btn-loading).hover,
		&:not([disabled]):not(.disabled):active,
		&:not([disabled]):not(.disabled).active {
			background: $color-primary-lighten;
			color: $color-white;
		}
	}
	&.btn-secondary {
		color: $color-text;
		background: $color-border;
		&:not(.btn-loading):active,
		&:not(.btn-loading).active,
		&:not(.btn-loading):hover,
		&:not(.btn-loading).hover {
			color: $color-text;
			background: darken($color-border, $percentage-ratio);
		}
	}
}

.btn-loading:before {
	border-top-color: $color-primary;
}

.loader {
	.ball-pulse {
		> div {
			background-color: $color-primary;
		}
	}
}

.loading > div {
	border-top-color: $color-primary;
	border-bottom-color: $color-primary;
}

.loading-bar {
	.loader {
		background: $color-primary;
	}
}

.control-label {
	color: $color-text;
    font-size: var(--font-size-13);
}

.fancybox-slide>* {
    display: block;
}