@import 'mixin';

body {
	position: relative;
	left: 0;
	color: $color-text;
    font-weight: 300;
	font-size: var(--font-size-12);
	font-family: $font-family;
	background: $color-white;
	transition: left .2s linear, right .2s linear;
}

/* @Global */
.openbox-overlay,
.navigation-menu-overlay,
.fancybox-is-open .fancybox-bg {
    opacity: 0.5;
	background: $color-text;
}

@include min($lg) {
    .container {
        max-width: calc(1200px + var(--spacer-6));
        &.custom-container {
            max-width: calc(1160px + var(--spacer-6));   
        }
    }
}

.container,
.container-fluid {
    padding-right: var(--spacer-3);
    padding-left: var(--spacer-3);
}

.row {
    margin-right: calc(-1*var(--spacer-3));
    margin-left: calc(-1*var(--spacer-3));
    .col,[class*="col-"] {
        padding-right: var(--spacer-3);
        padding-left: var(--spacer-3);
    }
}

/* @Header */
#header {
    position: relative;
    z-index: 99;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    background-color: $color-white;
    .header-top {
        background-color: $color-primary;
    }
}

.header-top-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    > div {
        margin-right: var(--spacer-8);
        &:last-child {
            margin-right: 0;
        }
        > a {
            display: flex;
            align-items: center;
            height: 46px;
            color: $color-white;
            @include line-rule(14);
            font-weight: 300;
            transition: $transition;
            &:hover {
                text-decoration: underline;
            }
        }
        &.custom-language {
            > a {
                position: relative;
                &:before {
                    content : '';
                    position: absolute;
                    top: 50%;
                    left: calc(-1*var(--spacer-4));
                    transform: translateY(-50%);
                    width: 1px;
                    height: var(--spacer-6);
                    background-color: $color-white;
                }
            }
        }
    }
}

.menu-items {
    @include max($lg) {
        display: none;
    }
    > ul {
        display: flex;
        flex-wrap: wrap;
        > li {
            margin-right: var(--spacer-8);
            &:last-child {
                margin-right: 0;
            }
            > a {
                display: flex;
                align-items: center;
                height: 46px;
                color: $color-white;
                @include line-rule(14);
                font-weight: 300;
                transition: $transition;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.logo {
    display: flex;
    align-items: center;
    @include max($lg) {
        justify-content: center;
    }
    padding: var(--spacer-3) 0 var(--spacer-4);
    img {
        max-height: 44px;
    }
}

.support-logo {
    @include center;
    img {
        max-height: 74px;
    }
}

/* Navigation */
#navigation {
    position: relative;
    > ul {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        > li {
            margin-right: var(--spacer-14);
            &:last-child {
                > a {
                    &:after {
                        display: none;
                    }
                }
            }
            > a {
                position: relative;
                display: flex;
                align-items: center;
                height: 73px;
                color: $color-sub-text;
                @include line-rule(18);
                font-weight: 400;
                transition: $transition;
                &:after {
                    content : '';
                    position: absolute;
                    top: 50%;
                    right: calc(-1*var(--spacer-7));
                    transform: translateY(-50%);
                    width: 1px;
                    height: 24px;
                    background-color: $color-border;
                }
                > span {
                    position: relative;
                    &:after {
                        content : '';
                        position: absolute;
                        left: 0;
                        bottom: -8px;
                        width: 0;
                        height: 3px;
                        transition: $transition;
                        background-color: $color-primary;
                    }
                }
                &:hover {
                    color: $color-primary;
                    > span {
                        &:after {
                            width: 100%;
                        }
                    }
                }
            }
            &.active {
                .sub-navigation-container {
                    visibility: visible;
                    opacity: 1;
                    pointer-events: visible;
                }
            }
        }
        .sub-navigation-container {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 101;
            opacity: 0;
            visibility: hidden;
            width: 100%;
            overflow: hidden;
            border-radius: 0 0 var(--spacer-8) var(--spacer-8);
            padding: var(--spacer-4) var(--spacer-8) var(--spacer-5);
            transition: $transition;
            background-color: rgba(62, 70, 76, 0.9);
            > ul {
                display: flex;
                flex-wrap: wrap;
                margin-right: calc(-1*var(--spacer-3));
                margin-left: calc(-1*var(--spacer-3));
                > li {
                    flex: 0 0 50%;
                    max-width: 50%;
                    padding-right: var(--spacer-3);
                    padding-left: var(--spacer-3);
                    &:nth-child(1),
                    &:nth-child(2) {
                        > a {
                            border-top: transparent;
                        }
                    }
                    > a {
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        height: 52px;
                        color: #ffffff;
                        @include line-rule(12);
                        letter-spacing: .5px;
                        border-top: 1px solid rgba(255, 255, 255, 0.1);
                        padding-right: 4px;
                        transition: $transition;
                        &:before {
                            content : '';
                            position: absolute;
                            top: 50%;
                            left: 0;
                            transform: translateY(-50%);
                            width: 0;
                            height: 25px;
                            transition: $transition;
                            background-color: $color-primary;
                        }
                        > span {
                            flex: 1 0 0%;
                            max-width: 200px;
                        }
                        > svg {
                            path {
                                transition: $transition;
                            }
                        }
                        &:hover {
                            color: #e10514;
                            padding-left: var(--spacer-4);
                            background-color: #ffffff;
                            &:before {
                                width: 5px;
                            }
                            > svg {
                                path {
                                    stroke: $color-primary;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Search Modal */
.search { 
    > a {
        @include center;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        border: 1px solid $color-border;
        margin: 0 auto;
        transition: $transition;
        @include min($lg) {
            &:hover {
                border-color: $color-primary;
            }
        }
    } 
}

body {
    .search-content {
        position: fixed;
        top: 150px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 101;
        display: none;
        width: 980px;
        height: 96px;
        @include max($lg) {
            width: 820px;
        }
        @include max($md) {
            width: 580px;
        }
        @include max($sm) {
            width: 396px;
            height: 72px;
        }
        @include max($xxs) {
            width: 360px;
        }
        @include max($xxxs) {
            width: 300px;
        }
        form {
            position: relative;
            input {
                width: 100%;
                height: 96px;
                color: $color-white;
                font-size: var(--font-size-36);
                font-weight: 400;
                padding: 8px 40px 8px 0;
                border: none;
                border-bottom: 4px solid $color-white;
                background-color: transparent;
                &::placeholder {
                    color: $color-white;
                    opacity: 1;
                }
                @include max($sm) {
                    height: 72px;
                    font-size: var(--font-size-24);
                    border-width: 2px;
                }
            }
            button {
                position: absolute;
                top: 0;
                right: 0;
                @include center;
                width: 40px;
                height: 100%;
                padding: 0;
                border: none;
                background-color: transparent;
                @include max($sm) {
                    svg {
                        zoom: 0.7;
                    }
                }
            }
        }
    }
    &.search-content-active {
        .search-content {
            display: block;
        }
    }
}

/* @Entry */
#main {
	padding: var(--spacer-8) 0;
}

.current-page-default-entry {
    #main {
        padding: 0 0 var(--spacer-12);
    }
}

.current-page-page-detail,
.current-page-company,
.current-page-company-list {
    #main {
        padding-top: 0;
    }
}

.current-page-company {
    .contentbox-body {
        margin: 0;
        &-inside {
            padding: var(--spacer-8) 0 var(--spacer-5);
            margin-bottom: var(--spacer-4);
            background-color: #F7F7FA;
        }
    }
    #breadcrumbs { 
        ol {
            li {
                span {
                    color: #5B5E5F;
                }
                a {
                    color: #5B5E5F;
                }
                &:last-child {
                    span {
                        span {
                            font-weight: 400;
                        }
                    }
                }
            }
        }
    }
}

#entry-slider { 
    position: relative;
    .entry-slider-wrapper {
        height: 0;
        overflow: hidden;
        &.slick-slider {
            height: auto;
            overflow: visible;
        }
    }
    .entry-slider-img {
        position: relative;
        img {
            width: 100%;
            object-fit: cover;
            @include max($lg) {
                height: 50vh;
            }
        }
    }
    .entry-slider-container {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
    }
    .entry-slider-content {
        .entry-slider-title {
            color: $color-white;
            @include line-rule(45);
            font-weight: 400;
            margin-bottom: var(--spacer-6);
        }
        .entry-slider-sub-title {
            color: $color-white;
            @include line-rule(23);
            font-weight: 350;
        }
    }
    .slick-dots {
        position: absolute;
        bottom: var(--spacer-7);
        z-index: 2;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        > li {
            margin-right: var(--spacer-3);
            &:last-child {
                margin-right: 0;
            }
            > button {
                position: relative;
                overflow: hidden;
                display: block;
                width: var(--spacer-5);
                height: var(--spacer-5);
                text-indent: -9999px;
                border-radius: 50%;
                border: 1px solid transparent;
                padding: 0;
                margin-bottom: 0;
                transition: $transition;
                background-color: rgba(217, 217, 217, 0.7);
            }
            &.slick-active {
                > button {
                    border-color: $color-white;
                    background-color: #979797;
                }
            }
        }
    }
}

.custom-search {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 995px;
    margin: 0 auto;
    @include max($md) {
        position: static;
        margin: var(--spacer-10) 0;
    }
    .custom-search-content {
        height: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        @include min($md) {
            padding-bottom: var(--spacer-20);
        }
        &-inside {
            flex: 1 0 0%;
            align-items: center;
            @include border-radius(5px);
            background-color: $color-white;
            @include max($md) {
                box-shadow: 0px 1.01971px 4.07885px rgba(0, 0, 0, 0.25);
            }
            @include max($xs) {
                padding: var(--spacer-10) 0;
            }
        }
    }
    .custom-search-input {
        select.form-control:not([size]):not([multiple]),
        select:not([size]) {
            height: 70px;
            color: #8E7C7C;
            @include line-rule(23);
            font-weight: 325;
            border-radius: 0;
            border: none;
            border-right: 0.5px solid #A4A0A0;
            padding: 0 var(--spacer-9);
            background: $color-white;
            &:focus {
                box-shadow: none !important;
            }
        }
        .custom-search-button {
            @include center;
            height: 46px;
            color: $color-white;
            @include line-rule(19);
            font-weight: 350;
            border: 0;
            @include border-radius(5px);
            padding: 0 var(--spacer-5);
            margin: 0 auto;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
            background-color: $color-primary;
        }
        @include max($xs) {
            select.form-control:not([size]):not([multiple]),
            select:not([size]) {
                height: 50px;
                border-right: none;
                border-bottom: 0.5px solid #A4A0A0;
                margin-bottom: var(--spacer-10);
            }
            .custom-search-button {
                width: 100%;
            }
        }
    }
}

.exchange-rate { 
    overflow: hidden;
    padding: 0 var(--spacer-4);
    margin-bottom: var(--spacer-8);
    box-shadow: 0px 1.01971px 4.07885px rgba(0, 0, 0, 0.25);
    background-color: $color-white;
    &-inside {  
        display: flex;
        animation: scrollLeft 20s linear infinite;
    }
    .exchange-rate-item {
        display: flex;
        align-items: center;
        flex: 0 0 auto; 
        height: 50px;
        color: #424B50;
        @include line-rule(23);
        font-weight: 325; 
        margin-left: var(--spacer-10);
        > span {
            margin: 0 5px;
            &.down {
                color: #E10514;
            }
            &.up {
                color: #34B841;
            }
        }
    }
}

@-webkit-keyframes scrollLeft {
    0% {
        -webkit-transform: translateX(100%);
    }

    100% {
        -webkit-transform: translateX(-100%)
    }
}

@keyframes scrollLeft {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%)
    }
}

.theme-banner-wrapper {
    margin-bottom: var(--spacer-6);
    .theme-banner-wrapper-title {
        color: #4C565B;
        @include line-rule(35);
        font-weight: 350; 
        text-align: center;
        margin-bottom: var(--spacer-10);
    }
}

.hover-banner {
    margin-bottom: var(--spacer-6);
    > a {
        display: block;
        overflow: hidden;
        @include border-radius(12px);
        img {
            width: 100%;
            transition: $transition;
        }
        @include min($lg) {
            &:hover {
                img {
                    transform: scale(1.04);
                }
            }
        }
    }
}

.featured-industries {
    margin-bottom: var(--spacer-12);
    .featured-industries-title {
        color: #262626;
        @include line-rule(27);
        font-weight: 350; 
        margin-bottom: var(--spacer-9);
    }
    .industries-item {
        margin-bottom: var(--spacer-5);
        > a {
            display: block;
        }
        .industries-item-content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include border-radius(5px);
            padding: var(--spacer-8) var(--spacer-12) var(--spacer-10);
            transition: $transition;
            box-shadow: 0px 0px 4px #D9D9D9;
            background-color: $color-background;
            .industries-item-img {
                > span {
                    display: block;
                    color: $color-text;
                    @include line-rule(16);
                    font-weight: 325; 
                    text-align: center;
                    margin-top: var(--spacer-3);
                }
            }
            .industries-item-count {
                color: #DDD6D6;
                @include line-rule(48);
                font-weight: 350; 
            }
            &:hover {
                box-shadow: 0px 0px 4px $color-primary;
            }
        }
    }
}

.entry-news {
    .entry-news-big-item {
        position: relative;
        .entry-news-item-image {
            > a {
                img {
                    width: 100%;
                }
            }
        }
        .entry-news-item-content {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%; 
            .entry-news-source {
                display: inline-flex;
                align-items: center;
                height: 24px;;
                color: $color-white;
                @include line-rule(16);
                font-weight: 300; 
                padding: 0 var(--spacer-4);
                margin: 0 0 var(--spacer-5) var(--spacer-6);
                background-color: $color-primary;
            }
            .entry-news-item-content-bottom {
                padding: var(--spacer-1) var(--spacer-5) var(--spacer-3);
                backdrop-filter: blur(2px);
                background: rgba(61, 57, 57, 0.2);
                .entry-news-title {
                    > a {
                        display: block;
                        color: $color-white;
                        @include line-rule(27);
                        font-weight: 300; 
                        margin-bottom: var(--spacer-2);
                    }
                }
                .entry-news-date {
                    color: rgba(255, 255, 255, 0.7);
                    @include line-rule(12);
                    font-weight: 300; 
                }
            }
        }
    }
    .entry-news-item {
        border-bottom: 1.10196px solid #959595;
        padding-bottom: var(--spacer-3);
        margin-bottom: var(--spacer-3);
        &:last-child {
            border: 0;
            padding: 0;
            margin: 0;
        }
        .entry-news-item-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .entry-news-item-content {
                flex: 1 0 0;
                max-width: 250px;
                .entry-news-source {
                    display: inline-flex;
                    align-items: center;
                    height: 24px;;
                    color: $color-white;
                    @include line-rule(16);
                    font-weight: 300; 
                    padding: 0 var(--spacer-4);
                    margin-bottom: var(--spacer-4);
                    background-color: $color-primary;
                }
                .entry-news-item-content-bottom {
                    .entry-news-title {
                        > a {
                            display: block;
                            color: $color-text;
                            @include line-rule(17);
                            font-weight: 300; 
                            margin-bottom: var(--spacer-3);
                        }
                    }
                    .entry-news-date {
                        color: rgba(116, 116, 116, 0.7);
                        @include line-rule(12);
                        font-weight: 300; 
                    }
                }
            }
            .entry-news-item-image {
                flex: 0 0 30%;
                a {
                    position: relative;
                    overflow: hidden;
                    display: block;
                    padding-top: $image-ratio;
                    @include imgcenter;
                }
            }
        }
    }
}

/* @Footer */
#footer {
    position: relative;
    padding: var(--spacer-8) 0;
    background-color: #4c565b;
}

.footer-logo {
    > a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $color-white;
        @include line-rule(16);
        font-weight: 400; 
        @include max($xs) {
            margin-bottom: var(--spacer-10);
        }
        > div {
            > span {
                padding-left: var(--spacer-5);
            }
        }
        > svg {
            transform: rotate(-90deg);
            transition: $transition;
        }
        &.active {
            > svg {
                transform: rotate(90deg);
            }
        }
    }
}

.footer-links-active {
    .footer-links {
        visibility: visible;
        opacity: 1;
    }
}

.footer-links {
    position: absolute;
    top: -76px;
    left: 0;
    width: 100%;
    height: 76px; 
    opacity: 0;
    visibility: hidden;
    transition: $transition;
    background-color: #2f3133;
    .footer-links-list {
        display: flex;
        flex-wrap: wrap;
        @include max($xs) {
            flex-wrap: nowrap;
            overflow-x: auto;
            scroll-snap-type: x mandatory;
        }
        > li {
            margin-right: var(--spacer-20);
            @include max($xs) {
                margin-right: var(--spacer-6);
            }
            &:last-child {
                margin-right: 0;
            }
            > a {
                position: relative;
                display: flex;
                align-items: center;
                height: 76px;
                color: $color-white;
                @include line-rule(16);
                font-weight: 500;
                padding-left: 24px;
                &:after {
                    content : '';
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    @include center;
                    width: 14px;
                    height: 14px;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'%3E%3Cpath d='M5.25 2.91667L9.33333 7L5.25 11.0833' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/svg%3E");
                }
            }
        }
    }
}

.footer-announcement {
    @include max($xs) {
        margin-bottom: var(--spacer-10);
    }
    .footer-announcement-title {
        color: $color-white;
        @include line-rule(16);
        font-weight: 400; 
        padding-bottom: var(--spacer-2);
        margin-bottom: var(--spacer-4);
        border-bottom: 1px solid #6a7378;
    }
    .footer-announcement-content {
        display: flex;
        align-items: center;
        color: $color-white;
        @include line-rule(14);
        font-weight: 300; 
        transition: $transition;
        > span {
            padding-left: var(--spacer-3);
        }
        @include min($lg) {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.footer-menu {
    .footer-menu-title {
        color: $color-white;
        @include line-rule(16);
        font-weight: 400; 
        padding-bottom: var(--spacer-2);
        margin-bottom: var(--spacer-4);
        border-bottom: 1px solid #6a7378;
    }
    .footer-menu-content {
        > ul {
            > li {
                margin-bottom: var(--spacer-2);
                &:last-child {
                    margin-bottom: 0;
                }
                > a {
                    display: inline-block;
                    color: $color-white;
                    @include line-rule(14);
                    font-weight: 300; 
                    transition: $transition;
                    @include min($lg) {
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}

/* Breadcrumbs */
#breadcrumbs { 
	@include max($lg) {
		overflow-x: auto;
		scroll-snap-type: x mandatory;
	}
	ol {
		display: flex;
		align-items: center;
        justify-content: center;
		padding: 0;
		margin: 0;
		li {
			i {
				font-size: var(--font-size-14);
				margin: 0 5px;
				font-style: normal;
				&:before {
					content: '>';
				}
			}
			span {
				display: flex;
				align-items: center;
				white-space: nowrap;
                color: $color-white;
                @include line-rule(14);
                font-weight: 325;
			}
			a {
                color: $color-white;
            }
            &:first-child {
                span {
                    span {
                        padding-left: var(--spacer-3);
                    }
                }
            }
		}
	}
}

/* @ContentBox */
.contentbox-header {
    position: relative;
    > h4 {
        color: $color-white;
        @include line-rule(32);
        font-weight: 400;
        text-align: center;
    }
    .contentbox-image {
        img {
            width: 100%;
            object-fit: cover;
            @include max($lg) {
                height: 15vh;
            }
        }
    }
    .contentbox-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include center;
        flex-direction: column;
        h4 {
            color: $color-white;
            @include line-rule(27);
            font-weight: 350;
        }
    }
}

.contentbox-body {
    margin-top: var(--spacer-8);
    h4 {
        color: $color-sub-text;
        @include line-rule(25);
        font-weight: 350;
        text-align: center;
        margin-bottom: var(--spacer-5);
    }
    
    p {
        color: $color-sub-text;
        @include line-rule(16);
        font-weight: 325;
        margin-bottom: var(--spacer-9);
    }
}

.contentbox-body-sub {
    color: #545F65;
    @include line-rule(16);
    font-weight: 325;
    border-radius: var(--spacer-5);
    padding: var(--spacer-8);
    background-color: $color-white;
    p {
        color: #545F65;
        margin-bottom: var(--spacer-3);
    }
    ol, ul {
        margin: 0;
        padding: 0;
    }
    ol {
        li {
            list-style: decimal inside;
            margin-bottom: var(--spacer-2);
        }
    }
    ul {
        li {
            list-style: disc inside;
            margin-bottom: var(--spacer-2);
        }
    }
    .accordion-container {
        max-width: 100%;
        margin-top: var(--spacer-5);
        .accordion {
            border-color: #eee;
            margin-bottom: 8px;
            .accordion-title {
                @include line-rule(16);
                font-weight: 325;
                padding: var(--spacer-4);
                &:after {
                    width: var(--spacer-3);
                    height: var(--spacer-3);
                    right: var(--spacer-4);
                }
            }
            .accordion-content {
                padding: 0 var(--spacer-4);
            }
            &.active {
                box-shadow: none;
            }
        }
    }
}

/* @9Sıkça Sorulan Sorular */
.sss-wrapper {
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin-bottom: var(--spacer-8);
    background: url('../../assets/uploads/sss-wrapper.png');
    background-size: cover;
    .sss-wrapper-icon {
        @include center;
        flex: 0 0 100px;
        width: 100px;
        height: 100px;
        border-radius: 5px 0 0 5px;
        background-color: $color-primary;
        @include max($xs) {
            height: 130px;
        }
    }
    .sss-wrapper-title {
        padding-left: var(--spacer-12);
        @include max($xs) {
            padding: var(--spacer-5);
        }
        h4 {
            color: $color-white;
            @include line-rule(16);
            font-weight: 400;
            text-align: left;
        }
        p {
            color: $color-white;
            @include line-rule(14);
            font-weight: 325;
            text-align: left;
            margin-bottom: 0;
        }
    }
}

.accordion-container {
    max-width: 795px;
    margin: 0 auto;
    .accordion {
        border-radius: 4px;
        border: 1px solid #D8CECE;
        margin-bottom: var(--spacer-2);
        background-color: $color-white;
        &:last-child {
            margin-bottom: 0;
        }
        .accordion-title {
            position: relative;
            color: $color-sub-text;
            @include line-rule(19);
            font-weight: 350;
            cursor: pointer;
            padding: var(--spacer-7) var(--spacer-10);
            &:after {
                content : '';
                position: absolute;
                top: 50%;
                right: var(--spacer-10);
                transform: translateY(-50%);
                width: var(--spacer-4);
                height: var(--spacer-4);
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline y1='9.5' x2='18' y2='9.5' stroke='%23E10514' stroke-width='3'/%3E%3Cpath d='M9 18L9 0' stroke='%23E10514' stroke-width='3'/%3E%3C/svg%3E");
            }
        }
        .accordion-content {
            display: none;
            color: $color-sub-text;
            @include line-rule(16);
            font-weight: 325;
            padding: 0 var(--spacer-10) var(--spacer-5);
        }
        &.active {
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
            .accordion-title {
                color: $color-primary;
                &:after {
                    background-image: url("data:image/svg+xml,%3Csvg width='18' height='3' viewBox='0 0 18 3' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline y1='1.5' x2='18' y2='1.5' stroke='%23E10514' stroke-width='3'/%3E%3C/svg%3E");
                }
            }
        }
    }
}

/* @Üye Ol */
.signup-container {
    width: 790px;
    border-radius: 2px;
    border: 1px solid #EDEDED;
    padding: var(--spacer-11) var(--spacer-25) var(--spacer-13) var(--spacer-25);
    margin: 0 auto var(--spacer-4);
    background-color: #FFF;
    @include max($md) {
        width: calc(100% - 8px);
        padding: var(--spacer-10);
    }
    .contentbox-header {
        h4 {
            @include line-rule(19);
            font-weight: 350;
            text-align: center;
            margin: 0 0 var(--spacer-12);
        }
    }
    .contentbox-body {
        margin: 0;
        h2 {
            display: inline-block;
            color: $color-sub-text;
            @include line-rule(19);
            font-weight: 350;
            border-bottom: 1px solid #C7C7C7;
            padding-bottom: var(--spacer-2);
            margin-bottom: var(--spacer-6);
        }
    }
    .form-group {
        margin-bottom: var(--spacer-6);
        .control-label {
            color: $color-sub-text;
            @include line-rule(16);
            font-weight: 325;
            margin-bottom: var(--spacer-2);
        }
        input.form-control,
        select.form-control {
            height: 40px;
            color: $color-sub-text;
            @include line-rule(13);
            font-weight: 325;
            border-radius: 3px;
            border: 1px solid #F1F1F1;
            padding: var(--spacer-2) var(--spacer-4);
            background-color: #F1F1F1;
            &::placeholder {
                color: $color-sub-text;
                opacity: 1;
            }
        }
        .checkbox-custom {
            input[type=checkbox] {
                & + label {
                    color: $color-sub-text;
                    @include line-rule(12);
                    font-weight: 325;
                    padding-left: 24px;
                    &:before {
                        width: 16px;
                        height: 16px;
                        border-radius: 0;
                        border: 1px solid #D9D9D9;
                    }
                }
                &:checked {
                    & + label {
                        &:before {
                            background-image: none;
                            border-color: $color-border;
                            background-color: $color-white;
                        }
                        &:after {
                            content: '';
                            position: absolute;
                            top: 2px;
                            left: 6px;
                            display: inline-block;
                            width: 5px;
                            height: 10px;
                            border-bottom: 2px solid $color-primary;
                            border-right: 2px solid $color-primary;
                            transform: rotate(45deg);
                        }
                    }
                }
            }
            input[type=checkbox]:checked+label:before {
                background-image: none;
                border-color: $color-border;
                background-color: $color-white;
            }
        }
        .btn {
            font-weight: 350;
            border-radius: 3px;
        }
    }
    .signup-campaign-status {
        
    }
}

/* @Firma Sayfası */
.company-block-item  {
    border-radius: 5px;
    border: 1px solid #DFDDDD;
    background-color: #FBFBFB;
    @include max($md) {
        margin-bottom: var(--spacer-8);
    }
    .company-block-title {
        color: #5B5E5F;
        @include line-rule(19);
        font-weight: 400;
        padding: var(--spacer-4) var(--spacer-9);
        > span {
            border-left: 1px solid $color-primary;
            padding-left: var(--spacer-3);
        }
    }
    .company-block-content {
        border-top: 1px solid #DFDDDD;
        padding: var(--spacer-7) var(--spacer-5) var(--spacer-5);
        .block-item-logo {
            text-align: center;
            margin-bottom: var(--spacer-6);
            img {
                max-height: 81px;
            }
        }
    }
}

.company-block {
    border-bottom: 1px solid #DFDDDD;
    padding: 0 var(--spacer-7) var(--spacer-6) var(--spacer-7);
    margin-bottom: var(--spacer-4);
    > li {
        margin-bottom: var(--spacer-3);
        &:last-child {
            margin-bottom: 0;
        }
        > a {
            @include center;
            > div {
                flex: 1 0 0%;
                padding-left: var(--spacer-1);
                .company-block-item-title,
                .company-block-item-subtitle {
                    color: #5B5E5F;
                    @include line-rule(16);
                    font-weight: 350;
                }
                .company-block-item-subtitle {
                    font-weight: 325;
                    transition: $transition;
                    @include min($lg) {
                        &:hover {
                            color: $color-primary;
                        }
                    }
                }
                > span {
                    font-weight: 350;
                    margin: 0 3px;
                }
            }
            &.phone {
                > div {
                    .company-block-item-subtitle {
                        color: $color-primary;
                        text-decoration: underline;
                    }
                }
            }
            &.email {
                > div {
                    .company-block-item-subtitle {
                        color: #2175A5;
                    }
                }
            }
        }
    }
}

.company-social {
    @include center;
    flex-wrap: wrap;
    margin-bottom: var(--spacer-4);
    > div {
        margin-right: var(--spacer-7);
        &:last-child {
            margin-right: 0;
        }
        > a {
            @include center;
            width: 27px;
            height: 27px;
        }
    }
}

.company-tags {
    @include center;
    flex-wrap: wrap;
    border-radius: 5px;
    border: 1px solid #C4C4C4;
    padding: var(--spacer-4) 0 0 0;
    margin-bottom: var(--spacer-5);
    background-color: $color-white;
    > a {
        @include center;
        height: 20px;
        color: $color-white;
        @include line-rule(10);
        font-weight: 325;
        border-radius: 5px;
        padding: 0 var(--spacer-4);
        margin: 0 var(--spacer-3) var(--spacer-3) 0;
        background-color: #838384;
        transition: $transition;
        @include min($lg) {
            &:hover {
                background-color: $color-primary;
            }
        }
    }
}

.company-modal {
    > a {
        @include center;
        height: 46px;
        color: $color-white;
        @include line-rule(19);
        font-weight: 325;
        border-radius: 5px;
        border: 1px solid #DFDDDD;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
        background-color: $color-primary;
    }
}

#form-modal-content {
    display: none;
    width: 700px;
    padding: var(--spacer-10) var(--spacer-10) var(--spacer-5);
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    background-color: #6F6F6F;
    @include max($xs) {
        width: 350px;
        padding: var(--spacer-5);
    }
    @include max($xxxs) {
        width: 300px;
    }
    h2 {
        display: inline-block;
        color: $color-white;
        @include line-rule(19);
        font-weight: 400;
        border-bottom: 1px solid $color-white;
        padding-bottom: var(--spacer-5);
        margin-bottom: var(--spacer-9);
    }
    .form-group {
        margin-bottom: var(--spacer-5);
        .control-label {
            color: $color-white;
            @include line-rule(14);
            font-weight: 400;
            margin-bottom: var(--spacer-2);
        }
        input.form-control,
        select.form-control {
            height: 45px;
            color: #5B5E5F;
            @include line-rule(14);
            font-weight: 400;
            font-size: var(--font-size-14);
            border-radius: 0;
            padding: var(--spacer-3);
        }
        textarea {
            width: 100%;
            height: 156px;
            color: #5B5E5F;
            @include line-rule(14);
            font-weight: 400;
            padding: var(--spacer-3);
        }
        .btn {
            @include center;
            width: 100%;
            @include min($xs) {
                max-width: 305px;
            }
            @include line-rule(19);
            font-weight: 400;
            border-radius: 5px; 
            margin: 0 auto;
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
            background-color: $color-primary;
        }
    }
}

.company-tab {
    border-radius: 5px;
    border: 1px solid #DFDDDD;
    background-color: #FBFBFB;
    &-header {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #DFDDDD;
        [data-tab-index] {
            flex: 1 0 0%;
            > a {
                position: relative;
                @include center;
                height: 54px;
                color: #5B5E5F;
                @include line-rule(18);
                font-weight: 325;
                > span {
                    height: 30px;
                    border-bottom: 2px solid transparent;
                }
                &:after {
                    content : '';
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                    width: 1px;
                    height: 24px;
                    background-color: #DFDDDD;
                }
            }
            &:last-child {
                > a {
                    &:after {
                        display: none;
                    }
                }
            }
            &.active {
                > a {
                    > span {
                        border-color: $color-primary;
                    }
                }
            }
        }
    }
    &-content {
        [data-tab-content] {
            height: 0;
            overflow: hidden;
            > div {
                padding: var(--spacer-6) var(--spacer-9) var(--spacer-12) var(--spacer-9);
                @include max($xs) {
                    padding: var(--spacer-6);
                }
                > p {
                    color: #5B5E5F;
                    @include line-rule(14);
                    font-weight: 325;
                    text-align: justify;
                    margin-bottom: var(--spacer-13);
                }
                h2 {
                    display: inline-block;
                    color: #5B5E5F;
                    @include line-rule(19);
                    font-weight: 325;
                    border-left: 1px solid $color-primary;
                    padding-left: var(--spacer-3);
                    margin-bottom: var(--spacer-5);
                } 
                .company-detail-sub-title {
                    color: #333333;
                    @include line-rule(14);
                    font-weight: 350;
                    margin-bottom: var(--spacer-5);
                }
                .company-sector-item {
                    margin-bottom: var(--spacer-13);
                    &:last-child {
                        margin-bottom: 0;
                    }
                    > a {
                        display: flex;
                        align-items: center;
                        > div {
                            flex: 1 0 0%;
                            padding-left: var(--spacer-5);
                            .company-sector-item-title,
                            .company-sector-item-desc {
                                color: #5B5E5F;
                                @include line-rule(14);
                                font-weight: 325;
                            }
                            .company-sector-item-desc {
                                @include line-rule(12);
                                margin-top: var(--spacer-1);
                            }
                        }
                    }
                }
            }
            &.active {
                height: auto;
                overflow: visible;
            }
        }
    }
}

.company-gallery {
    .company-gallery-image {
        margin-bottom: var(--spacer-4);
        @include max($xs) {
            margin-bottom: var(--spacer-6);
        }
        img {
            width: 100%;
        }
    }               
}

.company-contact {
    .company-contact-title {
        color: #5B5E5F;
        @include line-rule(19);
        font-weight: 350;
        text-align: center;
        border-bottom: 1px solid #DFDDDD;
        padding-bottom: var(--spacer-3);
        margin-bottom: var(--spacer-5);
    }
    .company-block {
        padding-left: 0;
        padding-right: 0;
    }
}


/* @Firma List */
.company-list {
    max-height: 452px;
    overflow-y: auto;
    @include max($xs) {
        margin-bottom: var(--spacer-10);
    }
    &::-webkit-scrollbar {
        width: 13px;
        border-radius: 5px;
    }
    &::-webkit-scrollbar-track {
        border-radius: 5px;
        background: #E8EDF0;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        border: 4px solid transparent;
        background: #C7C2C2;
        background-clip: content-box;
    }
    .company-list-item {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #CAD2D3;
        padding-bottom: var(--spacer-10);
        margin-bottom: var(--spacer-10);
        .company-list-item-content {
            padding-right: var(--spacer-8);
        }
        .company-list-item-title {
            color: #000;
            @include line-rule(16);
            font-weight: 400;
            margin-bottom: var(--spacer-3);
        }
        .company-list-item-address {
            > a {
                display: block;
                color: #000;
                @include line-rule(14);
                font-weight: 325;
                margin-bottom: var(--spacer-6);
            }
        }
        .company-list-item-phone {
            > a {
                color: $color-primary;
                @include line-rule(16);
                font-weight: 350;
                text-decoration-line: underline;
            }
        }
        .company-list-item-image {
            flex: 1 0 0%;
            padding-right: var(--spacer-5);
            img {
                max-width: 165px;
                max-height: 165px;
            }
        }
    }
}

.company-options {
    .company-options-content {
        border-radius: 5px;
        padding: var(--spacer-2) var(--spacer-3);
        margin-bottom: var(--spacer-6);
        background-color: #E8EDF0;
    }
    .company-options-select {
        display: flex;
        align-items: center;
        @include max($xs) { 
            flex-direction: column;
        }
        .control-label {
            color: #706B6B;
            @include line-rule(14);
            font-weight: 350;
            margin-right: var(--spacer-3);
        }
        select.form-control:not([size]):not([multiple]),
        select:not([size]) {
            height: 36px;
            color: #706B6B;
            @include line-rule(14);
            font-weight: 325;
            border-radius: 5px;
            border: 1px solid #D3D3D3;
            background-size: 19px;
            background-image: url("data:image/svg+xml,%3Csvg width='19' height='10' viewBox='0 0 19 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.5 10L0.406733 0.25L18.5933 0.249999L9.5 10Z' fill='%23C7C2C2'/%3E%3C/svg%3E");
            @include max($xs) {
                background-size: 10px;
            }
            &:focus {
                box-shadow: none !important;
            }
        }
        .btn {
            @include center;
            height: 36px;
            @include line-rule(14);
            font-weight: 350;
            border-radius: 3px;
            border: 1px solid #D3D3D3;
            padding: 0;
        }
    }
    .company-maps {
        img {
            width: 100%;
        }
    }
}

.body-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: left 50%;
    background-repeat: no-repeat;
}

.landing-item-box {
    border-radius: var(--spacer-3);
    padding: var(--spacer-6);
    margin-bottom: var(--spacer-6);
    background-color: $color-white;
    &-title {
        color: $color-primary;
        @include line-rule(20);
        font-weight: 500;
        margin-bottom: var(--spacer-3);
    }
    &-image {
        margin-bottom: var(--spacer-2);
    }
    &-list {
        > ul {
            > li {
                > a {
                    display: block;
                    color: $color-text;
                    @include line-rule(14);
                    font-weight: 400;
                    border-bottom: 1px solid #ddd;
                    padding: var(--spacer-3) 0;
                    transition: $transition;
                    @include min($lg) {
                        &:hover {
                            color: $color-primary;
                        }
                    }
                }
                &:last-child {
                    > a {
                        border: none;
                        padding-bottom: 0;
                    }
                }
            }
        }
    }
}


/* Login Page */
.current-page-login-page {
    background: url('https://bireysel.ziraatbank.com.tr/Content/assets/img/login-bg.jpg') no-repeat top center;
    background-attachment: fixed;
}

.login-box-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 500px;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    @include max($xs) {
        padding: 0 20px;
    }
    p {
        color: $color-white;
        @include line-rule(18);
        font-weight: 400;
        text-align: center;
        margin-bottom: var(--spacer-5);
    }
    .form-group {
        margin-bottom: 12px;
    }
    .login-input {
        input {
            height: 40px;
            color: $color-text;
            @include line-rule(13);
            font-weight: 325;
            border-radius: 30px;
            border: none;
            padding: 0 16px;
            background: $color-white;
            &:focus {
                box-shadow: none !important;
            }
        }
    }
    .login-box-remember {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        > span {
            color: $color-white;
            font-size: 13px;
            font-weight: 400;
            margin-right: 15px;
        }
        .toggle {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 25px;
            cursor: pointer;
            border-radius: 16px;
            border: 1px solid $color-white;
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            -webkit-tap-highlight-color: transparent;
            margin: 0;
            transition: $transition;
            background: #95130d;
            &:after {
                content: "";
                position: absolute;
                top: 6px;
                left: 6px;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background: white; 
                transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
            }
            &:checked {
                background-color: #80da61;
                &:after {
                    transform: translatex(33px);
                }
            }
        }
    }
    .login-box-forgot-pass {
        display: block;
        color: $color-white;
        font-size: 14px;
        font-weight: 600;
        text-decoration: underline;
        text-align: right;
    }
    .login-box-button {
        .btn {
            height: 40px;
            border-radius: 30px;
            background-color: #394347;
        }
    }
}

.ck-editor__editable[role="textbox"] {
    min-height: 200px;
} 

/* Aşağıdaki root kontrollerini lütfen değiştirmeyiniz */
:root {
    @for $i from 1 through 40 {
        --spacer-#{$i} : #{$i*4}px;
    }
    @for $i from 10 through 120 {
        --font-size-#{$i} : #{$i}px;
    }
}

@include max($lg) {
    :root {
        @for $i from 1 through 20 {
            --spacer-#{$i} : #{$i*3}px;
        }
        @for $i from 21 through 29 {
            --spacer-#{$i} : #{$i*2.5}px;
        }
        @for $i from 30 through 40 {
            --spacer-#{$i} : #{$i*2}px;
        }
        @for $i from 10 through 14 {
            --font-size-#{$i} : #{$i*0.95}px;
        }
        @for $i from 15 through 18 {
            --font-size-#{$i} : #{$i*0.90}px;
        }
        @for $i from 19 through 28 {
            --font-size-#{$i} : #{$i*0.80}px;
        }
        @for $i from 29 through 36 {
            --font-size-#{$i} : #{$i*0.75}px;
        }
        @for $i from 37 through 84 {
            --font-size-#{$i} : #{$i*0.65}px;
        }
        @for $i from 85 through 120 {
            --font-size-#{$i} : #{$i*0.55}px;
        }
    }
}

@include max($sm) {
    :root {
        @for $i from 1 through 20 {
            --spacer-#{$i} : #{$i*2}px;
        }
        @for $i from 21 through 29 {
            --spacer-#{$i} : #{$i*1.5}px;
        }
        @for $i from 30 through 40 {
            --spacer-#{$i} : #{$i*1}px;
        }

        @for $i from 10 through 14 {
            --font-size-#{$i} : #{$i*0.85}px;
        }
        @for $i from 15 through 18 {
            --font-size-#{$i} : #{$i*0.80}px;
        }
        @for $i from 19 through 28 {
            --font-size-#{$i} : #{$i*0.75}px;
        }
        @for $i from 29 through 36 {
            --font-size-#{$i} : #{$i*0.70}px;
        }
        @for $i from 37 through 84 {
            --font-size-#{$i} : #{$i*0.55}px;
        }
        @for $i from 85 through 120 {
            --font-size-#{$i} : #{$i*0.45}px;
        }
    }
}

.row {
    &.no-gutters {
        margin-right: 0;
        margin-left: 0;
        > .col,
        > [class*="col-"] {
            padding-right: 0;
            padding-left: 0;
        }
    }
}

@import 'default';