@import url("https://fonts.cdnfonts.com/css/gotham-narrow");
a {
  color: #000;
}
a {
  color: #000;
}
a:active,
a:hover {
  color: #e10514;
}
body {
  position: relative;
  left: 0;
  color: #000;
  font-weight: 300;
  font-size: var(--font-size-12);
  font-family: "Gotham Narrow", sans-serif;
  background: #fff;
  transition: left 0.2s linear, right 0.2s linear;
}
.openbox-overlay,
.navigation-menu-overlay,
.fancybox-is-open .fancybox-bg {
  opacity: 0.5;
  background: #000;
}
@media (min-width: 1200px) {
  .container {
    max-width: calc(1200px + var(--spacer-6));
  }
}
.container,
.container-fluid {
  padding-right: var(--spacer-3);
  padding-left: var(--spacer-3);
}
.row {
  margin-right: calc(-1 * var(--spacer-3));
  margin-left: calc(-1 * var(--spacer-3));
}
.row .col,
.row [class*="col-"] {
  padding-right: var(--spacer-3);
  padding-left: var(--spacer-3);
}
#header {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}
#header .header-top {
  background-color: #e10514;
}
.header-top-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header-top-right > div {
  margin-right: var(--spacer-8);
}
.header-top-right > div:last-child {
  margin-right: 0;
}
.header-top-right > div > a {
  display: flex;
  align-items: center;
  height: 46px;
  color: #fff;
  line-height: calc(var(--font-size-14) + 8px);
  font-size: var(--font-size-14);
  font-weight: 300;
  transition: all 0.2s linear;
}
.header-top-right > div > a:hover {
  text-decoration: underline;
}
.header-top-right > div.custom-language > a {
  position: relative;
}
.header-top-right > div.custom-language > a:before {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(-1 * var(--spacer-4));
  transform: translateY(-50%);
  width: 1px;
  height: var(--spacer-6);
  background-color: #fff;
}
@media (max-width: 1199px) {
  .menu-items {
    display: none;
  }
}
.menu-items > ul {
  display: flex;
  flex-wrap: wrap;
}
.menu-items > ul > li {
  margin-right: var(--spacer-8);
}
.menu-items > ul > li:last-child {
  margin-right: 0;
}
.menu-items > ul > li > a {
  display: flex;
  align-items: center;
  height: 46px;
  color: #fff;
  line-height: calc(var(--font-size-14) + 8px);
  font-size: var(--font-size-14);
  font-weight: 300;
  transition: all 0.2s linear;
}
.menu-items > ul > li > a:hover {
  text-decoration: underline;
}
.logo {
  padding: var(--spacer-3) 0 var(--spacer-4);
}
.logo img {
  max-height: 44px;
}
#navigation .level-1 > ul {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
#navigation .level-1 > ul > li {
  margin-right: var(--spacer-14);
}
#navigation .level-1 > ul > li:last-child {
  margin-right: 0;
}
#navigation .level-1 > ul > li:last-child > a:before {
  display: none;
}
#navigation .level-1 > ul > li > a {
  position: relative;
  display: flex;
  align-items: center;
  height: 73px;
  color: #545f65;
  line-height: calc(var(--font-size-18) + 8px);
  font-size: var(--font-size-18);
  font-weight: 350;
  transition: all 0.2s linear;
}
#navigation .level-1 > ul > li > a > span {
  position: relative;
}
#navigation .level-1 > ul > li > a > span:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  transition: all 0.2s linear;
  background-color: #e10514;
}
#navigation .level-1 > ul > li > a:before {
  content: "";
  position: absolute;
  top: 50%;
  right: -50%;
  transform: translate(-50%, -50%);
  width: 1px;
  height: 24px;
  background-color: #959595;
}
#navigation .level-1 > ul > li > a:hover {
  color: #e10514;
}
#navigation .level-1 > ul > li > a:hover > span:after {
  width: 100%;
}
.search > a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  border: 1px solid #959595;
  margin: 0 auto;
  transition: all 0.2s linear;
}
@media (min-width: 1200px) {
  .search > a:hover {
    border-color: #e10514;
  }
}
body .search-content {
  position: fixed;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 101;
  display: none;
  width: 980px;
  height: 96px;
}
@media (max-width: 1199px) {
  body .search-content {
    width: 820px;
  }
}
@media (max-width: 991px) {
  body .search-content {
    width: 580px;
  }
}
@media (max-width: 767px) {
  body .search-content {
    width: 396px;
    height: 72px;
  }
}
@media (max-width: 424px) {
  body .search-content {
    width: 360px;
  }
}
@media (max-width: 374px) {
  body .search-content {
    width: 300px;
  }
}
body .search-content form {
  position: relative;
}
body .search-content form input {
  width: 100%;
  height: 96px;
  color: #fff;
  font-size: var(--font-size-36);
  font-weight: 400;
  padding: 8px 40px 8px 0;
  border: none;
  border-bottom: 4px solid #fff;
  background-color: transparent;
}
body .search-content form input::placeholder {
  color: #fff;
  opacity: 1;
}
@media (max-width: 767px) {
  body .search-content form input {
    height: 72px;
    font-size: var(--font-size-24);
    border-width: 2px;
  }
}
body .search-content form button {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 100%;
  padding: 0;
  border: none;
  background-color: transparent;
}
@media (max-width: 767px) {
  body .search-content form button svg {
    zoom: 0.7;
  }
}
body.search-content-active .search-content {
  display: block;
}
#main {
  padding: var(--spacer-8) 0;
}
.current-page-default-entry #main {
  padding: 0 0 var(--spacer-12);
}
.current-page-page-detail #main,
.current-page-company #main,
.current-page-company-list #main {
  padding-top: 0;
}
.current-page-company .contentbox-body {
  margin: 0;
}
.current-page-company .contentbox-body-inside {
  padding: var(--spacer-8) 0 var(--spacer-5);
  margin-bottom: var(--spacer-4);
  background-color: #f7f7fa;
}
.current-page-company #breadcrumbs ol {
  justify-content: center;
}
.current-page-company #breadcrumbs ol li span {
  color: #5b5e5f;
}
.current-page-company #breadcrumbs ol li a {
  color: #5b5e5f;
}
.current-page-company #breadcrumbs ol li:last-child span span {
  font-weight: 400;
}
#entry-slider {
  position: relative;
}
#entry-slider .entry-slider-wrapper {
  height: 0;
  overflow: hidden;
}
#entry-slider .entry-slider-wrapper.slick-slider {
  height: auto;
  overflow: visible;
}
#entry-slider .entry-slider-img {
  position: relative;
}
#entry-slider .entry-slider-img img {
  width: 100%;
  object-fit: cover;
}
@media (max-width: 1199px) {
  #entry-slider .entry-slider-img img {
    height: 50vh;
  }
}
#entry-slider .entry-slider-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
}
#entry-slider .entry-slider-content .entry-slider-title {
  color: #fff;
  line-height: calc(var(--font-size-45) + 8px);
  font-size: var(--font-size-45);
  font-weight: 400;
  margin-bottom: var(--spacer-6);
}
#entry-slider .entry-slider-content .entry-slider-sub-title {
  color: #fff;
  line-height: calc(var(--font-size-23) + 8px);
  font-size: var(--font-size-23);
  font-weight: 350;
}
#entry-slider .slick-dots {
  position: absolute;
  bottom: var(--spacer-7);
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
#entry-slider .slick-dots > li {
  margin-right: var(--spacer-3);
}
#entry-slider .slick-dots > li:last-child {
  margin-right: 0;
}
#entry-slider .slick-dots > li > button {
  position: relative;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 20px;
  text-indent: -9999px;
  border-radius: 50%;
  border: 1px solid transparent;
  padding: 0;
  margin-bottom: 0;
  transition: all 0.2s linear;
  background-color: rgba(217, 217, 217, 0.7);
}
#entry-slider .slick-dots > li.slick-active > button {
  border-color: #fff;
  background-color: #979797;
}
.custom-search {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 995px;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .custom-search {
    position: static;
    margin: var(--spacer-10) 0;
  }
}
.custom-search .custom-search-content {
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
@media (min-width: 992px) {
  .custom-search .custom-search-content {
    padding-bottom: var(--spacer-20);
  }
}
.custom-search .custom-search-content-inside {
  flex: 1 0 0%;
  align-items: center;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #fff;
}
@media (max-width: 991px) {
  .custom-search .custom-search-content-inside {
    box-shadow: 0px 1.01971px 4.07885px rgba(0, 0, 0, 0.25);
  }
}
@media (max-width: 575px) {
  .custom-search .custom-search-content-inside {
    padding: var(--spacer-10) 0;
  }
}
.custom-search
  .custom-search-input
  select.form-control:not([size]):not([multiple]),
.custom-search .custom-search-input select:not([size]) {
  height: 70px;
  color: #8e7c7c;
  line-height: calc(var(--font-size-23) + 8px);
  font-size: var(--font-size-23);
  font-weight: 325;
  border-radius: 0;
  border: none;
  border-right: 0.5px solid #a4a0a0;
  padding: 0 var(--spacer-9);
  background: #fff;
}
.custom-search
  .custom-search-input
  select.form-control:not([size]):not([multiple]):focus,
.custom-search .custom-search-input select:not([size]):focus {
  box-shadow: none !important;
}
.custom-search .custom-search-input .custom-search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 46px;
  color: #fff;
  line-height: calc(var(--font-size-19) + 8px);
  font-size: var(--font-size-19);
  font-weight: 350;
  border: 0;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 0 var(--spacer-5);
  margin: 0 auto;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  background-color: #e10514;
}
@media (max-width: 575px) {
  .custom-search
    .custom-search-input
    select.form-control:not([size]):not([multiple]),
  .custom-search .custom-search-input select:not([size]) {
    height: 50px;
    border-right: none;
    border-bottom: 0.5px solid #a4a0a0;
    margin-bottom: var(--spacer-10);
  }
  .custom-search .custom-search-input .custom-search-button {
    width: 100%;
  }
}
.exchange-rate {
  overflow: hidden;
  padding: 0 var(--spacer-4);
  margin-bottom: var(--spacer-8);
  box-shadow: 0px 1.01971px 4.07885px rgba(0, 0, 0, 0.25);
  background-color: #fff;
}
.exchange-rate-inside {
  display: flex;
  animation: scrollLeft 20s linear infinite;
}
.exchange-rate .exchange-rate-item {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  height: 50px;
  color: #424b50;
  line-height: calc(var(--font-size-23) + 8px);
  font-size: var(--font-size-23);
  font-weight: 325;
  margin-left: var(--spacer-10);
}
.exchange-rate .exchange-rate-item > span {
  margin: 0 5px;
}
.exchange-rate .exchange-rate-item > span.down {
  color: #e10514;
}
.exchange-rate .exchange-rate-item > span.up {
  color: #34b841;
}
@-webkit-keyframes scrollLeft {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}
@keyframes scrollLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.theme-banner-wrapper {
  margin-bottom: var(--spacer-6);
}
.theme-banner-wrapper .theme-banner-wrapper-title {
  color: #4c565b;
  line-height: calc(var(--font-size-35) + 8px);
  font-size: var(--font-size-35);
  font-weight: 350;
  text-align: center;
  margin-bottom: var(--spacer-10);
}
.hover-banner {
  margin-bottom: var(--spacer-6);
}
.hover-banner > a {
  display: block;
  overflow: hidden;
  border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
}
.hover-banner > a img {
  width: 100%;
  transition: all 0.2s linear;
}
@media (min-width: 1200px) {
  .hover-banner > a:hover img {
    transform: scale(1.04);
  }
}
.featured-industries {
  margin-bottom: var(--spacer-12);
}
.featured-industries .featured-industries-title {
  color: #262626;
  line-height: calc(var(--font-size-27) + 8px);
  font-size: var(--font-size-27);
  font-weight: 350;
  margin-bottom: var(--spacer-9);
}
.featured-industries .industries-item {
  margin-bottom: var(--spacer-5);
}
.featured-industries .industries-item > a {
  display: block;
}
.featured-industries .industries-item .industries-item-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: var(--spacer-8) var(--spacer-12) var(--spacer-10);
  transition: all 0.2s linear;
  box-shadow: 0px 0px 4px #d9d9d9;
  background-color: #f8f8f8;
}
.featured-industries
  .industries-item
  .industries-item-content
  .industries-item-img
  > span {
  display: block;
  color: #000;
  line-height: calc(var(--font-size-16) + 8px);
  font-size: var(--font-size-16);
  font-weight: 325;
  text-align: center;
  margin-top: var(--spacer-3);
}
.featured-industries
  .industries-item
  .industries-item-content
  .industries-item-count {
  color: #ddd6d6;
  line-height: calc(var(--font-size-48) + 8px);
  font-size: var(--font-size-48);
  font-weight: 350;
}
.featured-industries .industries-item .industries-item-content:hover {
  box-shadow: 0px 0px 4px #e10514;
}
.entry-news .entry-news-big-item {
  position: relative;
}
.entry-news .entry-news-big-item .entry-news-item-image > a img {
  width: 100%;
}
.entry-news .entry-news-big-item .entry-news-item-content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.entry-news .entry-news-big-item .entry-news-item-content .entry-news-source {
  display: inline-flex;
  align-items: center;
  height: 24px;
  color: #fff;
  line-height: calc(var(--font-size-16) + 8px);
  font-size: var(--font-size-16);
  font-weight: 300;
  padding: 0 var(--spacer-4);
  margin: 0 0 var(--spacer-5) var(--spacer-6);
  background-color: #e10514;
}
.entry-news
  .entry-news-big-item
  .entry-news-item-content
  .entry-news-item-content-bottom {
  padding: var(--spacer-1) var(--spacer-5) var(--spacer-3);
  backdrop-filter: blur(2px);
  background: rgba(61, 57, 57, 0.2);
}
.entry-news
  .entry-news-big-item
  .entry-news-item-content
  .entry-news-item-content-bottom
  .entry-news-title
  > a {
  display: block;
  color: #fff;
  line-height: calc(var(--font-size-27) + 8px);
  font-size: var(--font-size-27);
  font-weight: 300;
  margin-bottom: var(--spacer-2);
}
.entry-news
  .entry-news-big-item
  .entry-news-item-content
  .entry-news-item-content-bottom
  .entry-news-date {
  color: rgba(255, 255, 255, 0.7);
  line-height: calc(var(--font-size-12) + 8px);
  font-size: var(--font-size-12);
  font-weight: 300;
}
.entry-news .entry-news-item {
  border-bottom: 1.10196px solid #959595;
  padding-bottom: var(--spacer-3);
  margin-bottom: var(--spacer-3);
}
.entry-news .entry-news-item:last-child {
  border: 0;
  padding: 0;
  margin: 0;
}
.entry-news .entry-news-item .entry-news-item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.entry-news
  .entry-news-item
  .entry-news-item-container
  .entry-news-item-content {
  flex: 1 0 0;
  max-width: 250px;
}
.entry-news
  .entry-news-item
  .entry-news-item-container
  .entry-news-item-content
  .entry-news-source {
  display: inline-flex;
  align-items: center;
  height: 24px;
  color: #fff;
  line-height: calc(var(--font-size-16) + 8px);
  font-size: var(--font-size-16);
  font-weight: 300;
  padding: 0 var(--spacer-4);
  margin-bottom: var(--spacer-4);
  background-color: #e10514;
}
.entry-news
  .entry-news-item
  .entry-news-item-container
  .entry-news-item-content
  .entry-news-item-content-bottom
  .entry-news-title
  > a {
  display: block;
  color: #000;
  line-height: calc(var(--font-size-17) + 8px);
  font-size: var(--font-size-17);
  font-weight: 300;
  margin-bottom: var(--spacer-3);
}
.entry-news
  .entry-news-item
  .entry-news-item-container
  .entry-news-item-content
  .entry-news-item-content-bottom
  .entry-news-date {
  color: rgba(116, 116, 116, 0.7);
  line-height: calc(var(--font-size-12) + 8px);
  font-size: var(--font-size-12);
  font-weight: 300;
}
.entry-news .entry-news-item .entry-news-item-container .entry-news-item-image {
  flex: 0 0 30%;
}
.entry-news
  .entry-news-item
  .entry-news-item-container
  .entry-news-item-image
  a {
  position: relative;
  overflow: hidden;
  display: block;
  padding-top: 100%;
}
.entry-news
  .entry-news-item
  .entry-news-item-container
  .entry-news-item-image
  a
  img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: block;
  max-width: 100%;
  max-height: 100%;
}
#footer {
  padding: var(--spacer-8) 0;
  background-color: #4c565b;
}
.footer-logo {
  display: flex;
  align-items: center;
  color: #fff;
  line-height: calc(var(--font-size-16) + 8px);
  font-size: var(--font-size-16);
  font-weight: 400;
}
@media (max-width: 575px) {
  .footer-logo {
    margin-bottom: var(--spacer-10);
  }
}
.footer-logo > span {
  padding-left: var(--spacer-5);
}
@media (max-width: 575px) {
  .footer-announcement {
    margin-bottom: var(--spacer-10);
  }
}
.footer-announcement .footer-announcement-title {
  color: #fff;
  line-height: calc(var(--font-size-16) + 8px);
  font-size: var(--font-size-16);
  font-weight: 400;
  padding-bottom: var(--spacer-2);
  margin-bottom: var(--spacer-4);
  border-bottom: 1px solid #6a7378;
}
.footer-announcement .footer-announcement-content {
  display: flex;
  align-items: center;
  color: #fff;
  line-height: calc(var(--font-size-14) + 8px);
  font-size: var(--font-size-14);
  font-weight: 300;
  transition: all 0.2s linear;
}
.footer-announcement .footer-announcement-content > span {
  padding-left: var(--spacer-3);
}
@media (min-width: 1200px) {
  .footer-announcement .footer-announcement-content:hover {
    text-decoration: underline;
  }
}
.footer-menu .footer-menu-title {
  color: #fff;
  line-height: calc(var(--font-size-16) + 8px);
  font-size: var(--font-size-16);
  font-weight: 400;
  padding-bottom: var(--spacer-2);
  margin-bottom: var(--spacer-4);
  border-bottom: 1px solid #6a7378;
}
.footer-menu .footer-menu-content > ul > li {
  margin-bottom: var(--spacer-2);
}
.footer-menu .footer-menu-content > ul > li:last-child {
  margin-bottom: 0;
}
.footer-menu .footer-menu-content > ul > li > a {
  display: inline-block;
  color: #fff;
  line-height: calc(var(--font-size-14) + 8px);
  font-size: var(--font-size-14);
  font-weight: 300;
  transition: all 0.2s linear;
}
@media (min-width: 1200px) {
  .footer-menu .footer-menu-content > ul > li > a:hover {
    text-decoration: underline;
  }
}
@media (max-width: 1199px) {
  #breadcrumbs {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }
}
#breadcrumbs ol {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}
#breadcrumbs ol li i {
  font-size: var(--font-size-14);
  margin: 0 5px;
  font-style: normal;
}
#breadcrumbs ol li i:before {
  content: ">";
}
#breadcrumbs ol li span {
  display: flex;
  align-items: center;
  white-space: nowrap;
  color: #fff;
  line-height: calc(var(--font-size-14) + 8px);
  font-size: var(--font-size-14);
  font-weight: 325;
}
#breadcrumbs ol li a {
  color: #fff;
}
#breadcrumbs ol li:first-child span span {
  padding-left: var(--spacer-3);
}
.contentbox-header {
  position: relative;
}
.contentbox-header .contentbox-image img {
  width: 100%;
  object-fit: cover;
}
@media (max-width: 1199px) {
  .contentbox-header .contentbox-image img {
    height: 15vh;
  }
}
.contentbox-header .contentbox-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contentbox-header .contentbox-wrapper h4 {
  color: #fff;
  line-height: calc(var(--font-size-27) + 8px);
  font-size: var(--font-size-27);
  font-weight: 350;
}
.contentbox-body {
  margin-top: var(--spacer-8);
}
.contentbox-body h4 {
  color: #545f65;
  line-height: calc(var(--font-size-25) + 8px);
  font-size: var(--font-size-25);
  font-weight: 350;
  text-align: center;
  margin-bottom: var(--spacer-5);
}
.contentbox-body p {
  color: #545f65;
  line-height: calc(var(--font-size-16) + 8px);
  font-size: var(--font-size-16);
  font-weight: 325;
  margin-bottom: var(--spacer-9);
}
.sss-wrapper {
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin-bottom: var(--spacer-8);
  background: url("..//htmwebsitetest/assets/uploads/sss-wrapper.png");
  background-size: cover;
}
.sss-wrapper .sss-wrapper-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 100px;
  width: 100px;
  height: 100px;
  border-radius: 5px 0 0 5px;
  background-color: #e10514;
}
@media (max-width: 575px) {
  .sss-wrapper .sss-wrapper-icon {
    height: 130px;
  }
}
.sss-wrapper .sss-wrapper-title {
  padding-left: var(--spacer-12);
}
@media (max-width: 575px) {
  .sss-wrapper .sss-wrapper-title {
    padding: var(--spacer-5);
  }
}
.sss-wrapper .sss-wrapper-title h4 {
  color: #fff;
  line-height: calc(var(--font-size-16) + 8px);
  font-size: var(--font-size-16);
  font-weight: 400;
  text-align: left;
}
.sss-wrapper .sss-wrapper-title p {
  color: #fff;
  line-height: calc(var(--font-size-14) + 8px);
  font-size: var(--font-size-14);
  font-weight: 325;
  text-align: left;
  margin-bottom: 0;
}
.accordion-container {
  max-width: 795px;
  margin: 0 auto;
}
.accordion-container .accordion {
  border-radius: 4px;
  border: 1px solid #d8cece;
  margin-bottom: var(--spacer-2);
  background-color: #fff;
}
.accordion-container .accordion:last-child {
  margin-bottom: 0;
}
.accordion-container .accordion .accordion-title {
  position: relative;
  color: #545f65;
  line-height: calc(var(--font-size-19) + 8px);
  font-size: var(--font-size-19);
  font-weight: 350;
  cursor: pointer;
  padding: var(--spacer-7) var(--spacer-10);
}
.accordion-container .accordion .accordion-title:after {
  content: "";
  position: absolute;
  top: 50%;
  right: var(--spacer-10);
  transform: translateY(-50%);
  width: var(--spacer-4);
  height: var(--spacer-4);
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline y1='9.5' x2='18' y2='9.5' stroke='%23E10514' stroke-width='3'/%3E%3Cpath d='M9 18L9 0' stroke='%23E10514' stroke-width='3'/%3E%3C/svg%3E");
}
.accordion-container .accordion .accordion-content {
  display: none;
  color: #545f65;
  line-height: calc(var(--font-size-16) + 8px);
  font-size: var(--font-size-16);
  font-weight: 325;
  padding: 0 var(--spacer-10) var(--spacer-5);
}
.accordion-container .accordion.active {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.accordion-container .accordion.active .accordion-title {
  color: #e10514;
}
.accordion-container .accordion.active .accordion-title:after {
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='3' viewBox='0 0 18 3' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline y1='1.5' x2='18' y2='1.5' stroke='%23E10514' stroke-width='3'/%3E%3C/svg%3E");
}
.signup-container {
  width: 790px;
  border-radius: 2px;
  border: 1px solid #ededed;
  padding: var(--spacer-11) var(--spacer-25) var(--spacer-13) var(--spacer-25);
  margin: 0 auto var(--spacer-4);
  background-color: #fff;
}
@media (max-width: 991px) {
  .signup-container {
    width: calc(100% - 8px);
    padding: var(--spacer-10);
  }
}
.signup-container .contentbox-header h4 {
  line-height: calc(var(--font-size-19) + 8px);
  font-size: var(--font-size-19);
  font-weight: 350;
  text-align: center;
  margin: 0 0 var(--spacer-12);
}
.signup-container .contentbox-body {
  margin: 0;
}
.signup-container .contentbox-body h2 {
  display: inline-block;
  color: #545f65;
  line-height: calc(var(--font-size-19) + 8px);
  font-size: var(--font-size-19);
  font-weight: 350;
  border-bottom: 1px solid #c7c7c7;
  padding-bottom: var(--spacer-2);
  margin-bottom: var(--spacer-6);
}
.signup-container .form-group {
  margin-bottom: var(--spacer-6);
}
.signup-container .form-group .control-label {
  color: #545f65;
  line-height: calc(var(--font-size-16) + 8px);
  font-size: var(--font-size-16);
  font-weight: 325;
  margin-bottom: var(--spacer-2);
}
.signup-container .form-group input.form-control,
.signup-container .form-group select.form-control {
  height: 40px;
  color: #545f65;
  line-height: calc(var(--font-size-13) + 8px);
  font-size: var(--font-size-13);
  font-weight: 325;
  border-radius: 3px;
  border: 1px solid #f1f1f1;
  padding: var(--spacer-2) var(--spacer-4);
  background-color: #f1f1f1;
}
.signup-container .form-group input.form-control::placeholder,
.signup-container .form-group select.form-control::placeholder {
  color: #545f65;
  opacity: 1;
}
.signup-container .form-group .checkbox-custom input[type="checkbox"] + label {
  color: #545f65;
  line-height: calc(var(--font-size-12) + 8px);
  font-size: var(--font-size-12);
  font-weight: 325;
  padding-left: 24px;
}
.signup-container
  .form-group
  .checkbox-custom
  input[type="checkbox"]
  + label:before {
  width: 16px;
  height: 16px;
  border-radius: 0;
  border: 1px solid #d9d9d9;
}
.signup-container
  .form-group
  .checkbox-custom
  input[type="checkbox"]:checked
  + label:before {
  background-image: none;
  border-color: #959595;
  background-color: #fff;
}
.signup-container
  .form-group
  .checkbox-custom
  input[type="checkbox"]:checked
  + label:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 6px;
  display: inline-block;
  width: 5px;
  height: 10px;
  border-bottom: 2px solid #e10514;
  border-right: 2px solid #e10514;
  transform: rotate(45deg);
}
.signup-container
  .form-group
  .checkbox-custom
  input[type="checkbox"]:checked
  + label:before {
  background-image: none;
  border-color: #959595;
  background-color: #fff;
}
.signup-container .form-group .btn {
  font-weight: 350;
  border-radius: 3px;
}
.company-block-item {
  border-radius: 5px;
  border: 1px solid #dfdddd;
  background-color: #fbfbfb;
}
@media (max-width: 991px) {
  .company-block-item {
    margin-bottom: var(--spacer-8);
  }
}
.company-block-item .company-block-title {
  color: #5b5e5f;
  line-height: calc(var(--font-size-19) + 8px);
  font-size: var(--font-size-19);
  font-weight: 400;
  padding: var(--spacer-4) var(--spacer-9);
}
.company-block-item .company-block-title > span {
  border-left: 1px solid #e10514;
  padding-left: var(--spacer-3);
}
.company-block-item .company-block-content {
  border-top: 1px solid #dfdddd;
  padding: var(--spacer-7) var(--spacer-5) var(--spacer-5);
}
.company-block-item .company-block-content .block-item-logo {
  text-align: center;
  margin-bottom: var(--spacer-6);
}
.company-block-item .company-block-content .block-item-logo img {
  max-height: 81px;
}
.company-block {
  border-bottom: 1px solid #dfdddd;
  padding: 0 var(--spacer-7) var(--spacer-6) var(--spacer-7);
  margin-bottom: var(--spacer-4);
}
.company-block > li {
  margin-bottom: var(--spacer-3);
}
.company-block > li:last-child {
  margin-bottom: 0;
}
.company-block > li > a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.company-block > li > a > div {
  flex: 1 0 0%;
  padding-left: var(--spacer-1);
}
.company-block > li > a > div .company-block-item-title,
.company-block > li > a > div .company-block-item-subtitle {
  color: #5b5e5f;
  line-height: calc(var(--font-size-16) + 8px);
  font-size: var(--font-size-16);
  font-weight: 350;
}
.company-block > li > a > div .company-block-item-subtitle {
  font-weight: 325;
  transition: all 0.2s linear;
}
@media (min-width: 1200px) {
  .company-block > li > a > div .company-block-item-subtitle:hover {
    color: #e10514;
  }
}
.company-block > li > a > div > span {
  font-weight: 350;
  margin: 0 3px;
}
.company-block > li > a.phone > div .company-block-item-subtitle {
  color: #e10514;
  text-decoration: underline;
}
.company-block > li > a.email > div .company-block-item-subtitle {
  color: #2175a5;
}
.company-social {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: var(--spacer-4);
}
.company-social > div {
  margin-right: var(--spacer-7);
}
.company-social > div:last-child {
  margin-right: 0;
}
.company-social > div > a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 27px;
  height: 27px;
}
.company-tags {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 5px;
  border: 1px solid #c4c4c4;
  padding: var(--spacer-4) 0 0 0;
  margin-bottom: var(--spacer-5);
  background-color: #fff;
}
.company-tags > a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  color: #fff;
  line-height: calc(var(--font-size-10) + 8px);
  font-size: var(--font-size-10);
  font-weight: 325;
  border-radius: 5px;
  padding: 0 var(--spacer-4);
  margin: 0 var(--spacer-3) var(--spacer-3) 0;
  background-color: #838384;
  transition: all 0.2s linear;
}
@media (min-width: 1200px) {
  .company-tags > a:hover {
    background-color: #e10514;
  }
}
.company-modal > a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 46px;
  color: #fff;
  line-height: calc(var(--font-size-19) + 8px);
  font-size: var(--font-size-19);
  font-weight: 325;
  border-radius: 5px;
  border: 1px solid #dfdddd;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  background-color: #e10514;
}
#form-modal-content {
  display: none;
  width: 700px;
  padding: var(--spacer-10) var(--spacer-10) var(--spacer-5);
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  background-color: #6f6f6f;
}
@media (max-width: 575px) {
  #form-modal-content {
    width: 350px;
    padding: var(--spacer-5);
  }
}
@media (max-width: 374px) {
  #form-modal-content {
    width: 300px;
  }
}
#form-modal-content h2 {
  display: inline-block;
  color: #fff;
  line-height: calc(var(--font-size-19) + 8px);
  font-size: var(--font-size-19);
  font-weight: 400;
  border-bottom: 1px solid #fff;
  padding-bottom: var(--spacer-5);
  margin-bottom: var(--spacer-9);
}
#form-modal-content .form-group {
  margin-bottom: var(--spacer-5);
}
#form-modal-content .form-group .control-label {
  color: #fff;
  line-height: calc(var(--font-size-14) + 8px);
  font-size: var(--font-size-14);
  font-weight: 400;
  margin-bottom: var(--spacer-2);
}
#form-modal-content .form-group input.form-control,
#form-modal-content .form-group select.form-control {
  height: 45px;
  color: #5b5e5f;
  line-height: calc(var(--font-size-14) + 8px);
  font-size: var(--font-size-14);
  font-weight: 400;
  font-size: var(--font-size-14);
  border-radius: 0;
  padding: var(--spacer-3);
}
#form-modal-content .form-group textarea {
  width: 100%;
  height: 156px;
  color: #5b5e5f;
  line-height: calc(var(--font-size-14) + 8px);
  font-size: var(--font-size-14);
  font-weight: 400;
  padding: var(--spacer-3);
}
#form-modal-content .form-group .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  line-height: calc(var(--font-size-19) + 8px);
  font-size: var(--font-size-19);
  font-weight: 400;
  border-radius: 5px;
  margin: 0 auto;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  background-color: #e10514;
}
@media (min-width: 576px) {
  #form-modal-content .form-group .btn {
    max-width: 305px;
  }
}
.company-tab {
  border-radius: 5px;
  border: 1px solid #dfdddd;
  background-color: #fbfbfb;
}
.company-tab-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dfdddd;
}
.company-tab-header [data-tab-index] {
  flex: 1 0 0%;
}
.company-tab-header [data-tab-index] > a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 54px;
  color: #5b5e5f;
  line-height: calc(var(--font-size-18) + 8px);
  font-size: var(--font-size-18);
  font-weight: 325;
}
.company-tab-header [data-tab-index] > a > span {
  height: 30px;
  border-bottom: 2px solid transparent;
}
.company-tab-header [data-tab-index] > a:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 24px;
  background-color: #dfdddd;
}
.company-tab-header [data-tab-index]:last-child > a:after {
  display: none;
}
.company-tab-header [data-tab-index].active > a > span {
  border-color: #e10514;
}
.company-tab-content [data-tab-content] {
  height: 0;
  overflow: hidden;
}
.company-tab-content [data-tab-content] > div {
  padding: var(--spacer-6) var(--spacer-9) var(--spacer-12) var(--spacer-9);
}
@media (max-width: 575px) {
  .company-tab-content [data-tab-content] > div {
    padding: var(--spacer-6);
  }
}
.company-tab-content [data-tab-content] > div > p {
  color: #5b5e5f;
  line-height: calc(var(--font-size-14) + 8px);
  font-size: var(--font-size-14);
  font-weight: 325;
  text-align: justify;
  margin-bottom: var(--spacer-13);
}
.company-tab-content [data-tab-content] > div h2 {
  display: inline-block;
  color: #5b5e5f;
  line-height: calc(var(--font-size-19) + 8px);
  font-size: var(--font-size-19);
  font-weight: 325;
  border-left: 1px solid #e10514;
  padding-left: var(--spacer-3);
  margin-bottom: var(--spacer-5);
}
.company-tab-content [data-tab-content] > div .company-detail-sub-title {
  color: #333333;
  line-height: calc(var(--font-size-14) + 8px);
  font-size: var(--font-size-14);
  font-weight: 350;
  margin-bottom: var(--spacer-5);
}
.company-tab-content [data-tab-content] > div .company-sector-item {
  margin-bottom: var(--spacer-13);
}
.company-tab-content [data-tab-content] > div .company-sector-item:last-child {
  margin-bottom: 0;
}
.company-tab-content [data-tab-content] > div .company-sector-item > a {
  display: flex;
  align-items: center;
}
.company-tab-content [data-tab-content] > div .company-sector-item > a > div {
  flex: 1 0 0%;
  padding-left: var(--spacer-5);
}
.company-tab-content
  [data-tab-content]
  > div
  .company-sector-item
  > a
  > div
  .company-sector-item-title,
.company-tab-content
  [data-tab-content]
  > div
  .company-sector-item
  > a
  > div
  .company-sector-item-desc {
  color: #5b5e5f;
  line-height: calc(var(--font-size-14) + 8px);
  font-size: var(--font-size-14);
  font-weight: 325;
}
.company-tab-content
  [data-tab-content]
  > div
  .company-sector-item
  > a
  > div
  .company-sector-item-desc {
  line-height: calc(var(--font-size-12) + 8px);
  font-size: var(--font-size-12);
  margin-top: var(--spacer-1);
}
.company-tab-content [data-tab-content].active {
  height: auto;
  overflow: visible;
}
.company-gallery .company-gallery-image {
  margin-bottom: var(--spacer-4);
}
@media (max-width: 575px) {
  .company-gallery .company-gallery-image {
    margin-bottom: var(--spacer-6);
  }
}
.company-gallery .company-gallery-image img {
  width: 100%;
}
.company-contact .company-contact-title {
  color: #5b5e5f;
  line-height: calc(var(--font-size-19) + 8px);
  font-size: var(--font-size-19);
  font-weight: 350;
  text-align: center;
  border-bottom: 1px solid #dfdddd;
  padding-bottom: var(--spacer-3);
  margin-bottom: var(--spacer-5);
}
.company-contact .company-block {
  padding-left: 0;
  padding-right: 0;
}
.company-list {
  max-height: 452px;
  overflow-y: auto;
}
@media (max-width: 575px) {
  .company-list {
    margin-bottom: var(--spacer-10);
  }
}
.company-list::-webkit-scrollbar {
  width: 13px;
  border-radius: 5px;
}
.company-list::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #e8edf0;
}
.company-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 4px solid transparent;
  background: #c7c2c2;
  background-clip: content-box;
}
.company-list .company-list-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #cad2d3;
  padding-bottom: var(--spacer-10);
  margin-bottom: var(--spacer-10);
}
.company-list .company-list-item .company-list-item-content {
  padding-right: var(--spacer-8);
}
.company-list .company-list-item .company-list-item-title {
  color: #000;
  line-height: calc(var(--font-size-16) + 8px);
  font-size: var(--font-size-16);
  font-weight: 400;
  margin-bottom: var(--spacer-3);
}
.company-list .company-list-item .company-list-item-address > a {
  display: block;
  color: #000;
  line-height: calc(var(--font-size-14) + 8px);
  font-size: var(--font-size-14);
  font-weight: 325;
  margin-bottom: var(--spacer-6);
}
.company-list .company-list-item .company-list-item-phone > a {
  color: #e10514;
  line-height: calc(var(--font-size-16) + 8px);
  font-size: var(--font-size-16);
  font-weight: 350;
  text-decoration-line: underline;
}
.company-list .company-list-item .company-list-item-image {
  flex: 1 0 0%;
  padding-right: var(--spacer-5);
}
.company-list .company-list-item .company-list-item-image img {
  max-width: 165px;
  max-height: 165px;
}
.company-options .company-options-content {
  border-radius: 5px;
  padding: var(--spacer-2) var(--spacer-3);
  margin-bottom: var(--spacer-6);
  background-color: #e8edf0;
}
.company-options .company-options-select {
  display: flex;
  align-items: center;
}
@media (max-width: 575px) {
  .company-options .company-options-select {
    flex-direction: column;
  }
}
.company-options .company-options-select .control-label {
  color: #706b6b;
  line-height: calc(var(--font-size-14) + 8px);
  font-size: var(--font-size-14);
  font-weight: 350;
  margin-right: var(--spacer-3);
}
.company-options
  .company-options-select
  select.form-control:not([size]):not([multiple]),
.company-options .company-options-select select:not([size]) {
  height: 36px;
  color: #706b6b;
  line-height: calc(var(--font-size-14) + 8px);
  font-size: var(--font-size-14);
  font-weight: 325;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  background-size: 19px;
  background-image: url("data:image/svg+xml,%3Csvg width='19' height='10' viewBox='0 0 19 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.5 10L0.406733 0.25L18.5933 0.249999L9.5 10Z' fill='%23C7C2C2'/%3E%3C/svg%3E");
}
@media (max-width: 575px) {
  .company-options
    .company-options-select
    select.form-control:not([size]):not([multiple]),
  .company-options .company-options-select select:not([size]) {
    background-size: 10px;
  }
}
.company-options
  .company-options-select
  select.form-control:not([size]):not([multiple]):focus,
.company-options .company-options-select select:not([size]):focus {
  box-shadow: none !important;
}
.company-options .company-options-select .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  line-height: calc(var(--font-size-14) + 8px);
  font-size: var(--font-size-14);
  font-weight: 350;
  border-radius: 3px;
  border: 1px solid #d3d3d3;
  padding: 0;
}
.company-options .company-maps img {
  width: 100%;
}
:root {
  --spacer-1: 4px;
  --spacer-2: 8px;
  --spacer-3: 12px;
  --spacer-4: 16px;
  --spacer-5: 20px;
  --spacer-6: 24px;
  --spacer-7: 28px;
  --spacer-8: 32px;
  --spacer-9: 36px;
  --spacer-10: 40px;
  --spacer-11: 44px;
  --spacer-12: 48px;
  --spacer-13: 52px;
  --spacer-14: 56px;
  --spacer-15: 60px;
  --spacer-16: 64px;
  --spacer-17: 68px;
  --spacer-18: 72px;
  --spacer-19: 76px;
  --spacer-20: 80px;
  --spacer-21: 84px;
  --spacer-22: 88px;
  --spacer-23: 92px;
  --spacer-24: 96px;
  --spacer-25: 100px;
  --spacer-26: 104px;
  --spacer-27: 108px;
  --spacer-28: 112px;
  --spacer-29: 116px;
  --spacer-30: 120px;
  --spacer-31: 124px;
  --spacer-32: 128px;
  --spacer-33: 132px;
  --spacer-34: 136px;
  --spacer-35: 140px;
  --spacer-36: 144px;
  --spacer-37: 148px;
  --spacer-38: 152px;
  --spacer-39: 156px;
  --spacer-40: 160px;
  --font-size-10: 10px;
  --font-size-11: 11px;
  --font-size-12: 12px;
  --font-size-13: 13px;
  --font-size-14: 14px;
  --font-size-15: 15px;
  --font-size-16: 16px;
  --font-size-17: 17px;
  --font-size-18: 18px;
  --font-size-19: 19px;
  --font-size-20: 20px;
  --font-size-21: 21px;
  --font-size-22: 22px;
  --font-size-23: 23px;
  --font-size-24: 24px;
  --font-size-25: 25px;
  --font-size-26: 26px;
  --font-size-27: 27px;
  --font-size-28: 28px;
  --font-size-29: 29px;
  --font-size-30: 30px;
  --font-size-31: 31px;
  --font-size-32: 32px;
  --font-size-33: 33px;
  --font-size-34: 34px;
  --font-size-35: 35px;
  --font-size-36: 36px;
  --font-size-37: 37px;
  --font-size-38: 38px;
  --font-size-39: 39px;
  --font-size-40: 40px;
  --font-size-41: 41px;
  --font-size-42: 42px;
  --font-size-43: 43px;
  --font-size-44: 44px;
  --font-size-45: 45px;
  --font-size-46: 46px;
  --font-size-47: 47px;
  --font-size-48: 48px;
  --font-size-49: 49px;
  --font-size-50: 50px;
  --font-size-51: 51px;
  --font-size-52: 52px;
  --font-size-53: 53px;
  --font-size-54: 54px;
  --font-size-55: 55px;
  --font-size-56: 56px;
  --font-size-57: 57px;
  --font-size-58: 58px;
  --font-size-59: 59px;
  --font-size-60: 60px;
  --font-size-61: 61px;
  --font-size-62: 62px;
  --font-size-63: 63px;
  --font-size-64: 64px;
  --font-size-65: 65px;
  --font-size-66: 66px;
  --font-size-67: 67px;
  --font-size-68: 68px;
  --font-size-69: 69px;
  --font-size-70: 70px;
  --font-size-71: 71px;
  --font-size-72: 72px;
  --font-size-73: 73px;
  --font-size-74: 74px;
  --font-size-75: 75px;
  --font-size-76: 76px;
  --font-size-77: 77px;
  --font-size-78: 78px;
  --font-size-79: 79px;
  --font-size-80: 80px;
  --font-size-81: 81px;
  --font-size-82: 82px;
  --font-size-83: 83px;
  --font-size-84: 84px;
  --font-size-85: 85px;
  --font-size-86: 86px;
  --font-size-87: 87px;
  --font-size-88: 88px;
  --font-size-89: 89px;
  --font-size-90: 90px;
  --font-size-91: 91px;
  --font-size-92: 92px;
  --font-size-93: 93px;
  --font-size-94: 94px;
  --font-size-95: 95px;
  --font-size-96: 96px;
  --font-size-97: 97px;
  --font-size-98: 98px;
  --font-size-99: 99px;
  --font-size-100: 100px;
  --font-size-101: 101px;
  --font-size-102: 102px;
  --font-size-103: 103px;
  --font-size-104: 104px;
  --font-size-105: 105px;
  --font-size-106: 106px;
  --font-size-107: 107px;
  --font-size-108: 108px;
  --font-size-109: 109px;
  --font-size-110: 110px;
  --font-size-111: 111px;
  --font-size-112: 112px;
  --font-size-113: 113px;
  --font-size-114: 114px;
  --font-size-115: 115px;
  --font-size-116: 116px;
  --font-size-117: 117px;
  --font-size-118: 118px;
  --font-size-119: 119px;
  --font-size-120: 120px;
}
@media (max-width: 1199px) {
  :root {
    --spacer-1: 3px;
    --spacer-2: 6px;
    --spacer-3: 9px;
    --spacer-4: 12px;
    --spacer-5: 15px;
    --spacer-6: 18px;
    --spacer-7: 21px;
    --spacer-8: 24px;
    --spacer-9: 27px;
    --spacer-10: 30px;
    --spacer-11: 33px;
    --spacer-12: 36px;
    --spacer-13: 39px;
    --spacer-14: 42px;
    --spacer-15: 45px;
    --spacer-16: 48px;
    --spacer-17: 51px;
    --spacer-18: 54px;
    --spacer-19: 57px;
    --spacer-20: 60px;
    --spacer-21: 52.5px;
    --spacer-22: 55px;
    --spacer-23: 57.5px;
    --spacer-24: 60px;
    --spacer-25: 62.5px;
    --spacer-26: 65px;
    --spacer-27: 67.5px;
    --spacer-28: 70px;
    --spacer-29: 72.5px;
    --spacer-30: 60px;
    --spacer-31: 62px;
    --spacer-32: 64px;
    --spacer-33: 66px;
    --spacer-34: 68px;
    --spacer-35: 70px;
    --spacer-36: 72px;
    --spacer-37: 74px;
    --spacer-38: 76px;
    --spacer-39: 78px;
    --spacer-40: 80px;
    --font-size-10: 9.5px;
    --font-size-11: 10.45px;
    --font-size-12: 11.4px;
    --font-size-13: 12.35px;
    --font-size-14: 13.3px;
    --font-size-15: 13.5px;
    --font-size-16: 14.4px;
    --font-size-17: 15.3px;
    --font-size-18: 16.2px;
    --font-size-19: 15.2px;
    --font-size-20: 16px;
    --font-size-21: 16.8px;
    --font-size-22: 17.6px;
    --font-size-23: 18.4px;
    --font-size-24: 19.2px;
    --font-size-25: 20px;
    --font-size-26: 20.8px;
    --font-size-27: 21.6px;
    --font-size-28: 22.4px;
    --font-size-29: 21.75px;
    --font-size-30: 22.5px;
    --font-size-31: 23.25px;
    --font-size-32: 24px;
    --font-size-33: 24.75px;
    --font-size-34: 25.5px;
    --font-size-35: 26.25px;
    --font-size-36: 27px;
    --font-size-37: 24.05px;
    --font-size-38: 24.7px;
    --font-size-39: 25.35px;
    --font-size-40: 26px;
    --font-size-41: 26.65px;
    --font-size-42: 27.3px;
    --font-size-43: 27.95px;
    --font-size-44: 28.6px;
    --font-size-45: 29.25px;
    --font-size-46: 29.9px;
    --font-size-47: 30.55px;
    --font-size-48: 31.2px;
    --font-size-49: 31.85px;
    --font-size-50: 32.5px;
    --font-size-51: 33.15px;
    --font-size-52: 33.8px;
    --font-size-53: 34.45px;
    --font-size-54: 35.1px;
    --font-size-55: 35.75px;
    --font-size-56: 36.4px;
    --font-size-57: 37.05px;
    --font-size-58: 37.7px;
    --font-size-59: 38.35px;
    --font-size-60: 39px;
    --font-size-61: 39.65px;
    --font-size-62: 40.3px;
    --font-size-63: 40.95px;
    --font-size-64: 41.6px;
    --font-size-65: 42.25px;
    --font-size-66: 42.9px;
    --font-size-67: 43.55px;
    --font-size-68: 44.2px;
    --font-size-69: 44.85px;
    --font-size-70: 45.5px;
    --font-size-71: 46.15px;
    --font-size-72: 46.8px;
    --font-size-73: 47.45px;
    --font-size-74: 48.1px;
    --font-size-75: 48.75px;
    --font-size-76: 49.4px;
    --font-size-77: 50.05px;
    --font-size-78: 50.7px;
    --font-size-79: 51.35px;
    --font-size-80: 52px;
    --font-size-81: 52.65px;
    --font-size-82: 53.3px;
    --font-size-83: 53.95px;
    --font-size-84: 54.6px;
    --font-size-85: 46.75px;
    --font-size-86: 47.3px;
    --font-size-87: 47.85px;
    --font-size-88: 48.4px;
    --font-size-89: 48.95px;
    --font-size-90: 49.5px;
    --font-size-91: 50.05px;
    --font-size-92: 50.6px;
    --font-size-93: 51.15px;
    --font-size-94: 51.7px;
    --font-size-95: 52.25px;
    --font-size-96: 52.8px;
    --font-size-97: 53.35px;
    --font-size-98: 53.9px;
    --font-size-99: 54.45px;
    --font-size-100: 55px;
    --font-size-101: 55.55px;
    --font-size-102: 56.1px;
    --font-size-103: 56.65px;
    --font-size-104: 57.2px;
    --font-size-105: 57.75px;
    --font-size-106: 58.3px;
    --font-size-107: 58.85px;
    --font-size-108: 59.4px;
    --font-size-109: 59.95px;
    --font-size-110: 60.5px;
    --font-size-111: 61.05px;
    --font-size-112: 61.6px;
    --font-size-113: 62.15px;
    --font-size-114: 62.7px;
    --font-size-115: 63.25px;
    --font-size-116: 63.8px;
    --font-size-117: 64.35px;
    --font-size-118: 64.9px;
    --font-size-119: 65.45px;
    --font-size-120: 66px;
  }
}
@media (max-width: 767px) {
  :root {
    --spacer-1: 2px;
    --spacer-2: 4px;
    --spacer-3: 6px;
    --spacer-4: 8px;
    --spacer-5: 10px;
    --spacer-6: 12px;
    --spacer-7: 14px;
    --spacer-8: 16px;
    --spacer-9: 18px;
    --spacer-10: 20px;
    --spacer-11: 22px;
    --spacer-12: 24px;
    --spacer-13: 26px;
    --spacer-14: 28px;
    --spacer-15: 30px;
    --spacer-16: 32px;
    --spacer-17: 34px;
    --spacer-18: 36px;
    --spacer-19: 38px;
    --spacer-20: 40px;
    --spacer-21: 31.5px;
    --spacer-22: 33px;
    --spacer-23: 34.5px;
    --spacer-24: 36px;
    --spacer-25: 37.5px;
    --spacer-26: 39px;
    --spacer-27: 40.5px;
    --spacer-28: 42px;
    --spacer-29: 43.5px;
    --spacer-30: 30px;
    --spacer-31: 31px;
    --spacer-32: 32px;
    --spacer-33: 33px;
    --spacer-34: 34px;
    --spacer-35: 35px;
    --spacer-36: 36px;
    --spacer-37: 37px;
    --spacer-38: 38px;
    --spacer-39: 39px;
    --spacer-40: 40px;
    --font-size-10: 8.5px;
    --font-size-11: 9.35px;
    --font-size-12: 10.2px;
    --font-size-13: 11.05px;
    --font-size-14: 11.9px;
    --font-size-15: 12px;
    --font-size-16: 12.8px;
    --font-size-17: 13.6px;
    --font-size-18: 14.4px;
    --font-size-19: 14.25px;
    --font-size-20: 15px;
    --font-size-21: 15.75px;
    --font-size-22: 16.5px;
    --font-size-23: 17.25px;
    --font-size-24: 18px;
    --font-size-25: 18.75px;
    --font-size-26: 19.5px;
    --font-size-27: 20.25px;
    --font-size-28: 21px;
    --font-size-29: 20.3px;
    --font-size-30: 21px;
    --font-size-31: 21.7px;
    --font-size-32: 22.4px;
    --font-size-33: 23.1px;
    --font-size-34: 23.8px;
    --font-size-35: 24.5px;
    --font-size-36: 25.2px;
    --font-size-37: 20.35px;
    --font-size-38: 20.9px;
    --font-size-39: 21.45px;
    --font-size-40: 22px;
    --font-size-41: 22.55px;
    --font-size-42: 23.1px;
    --font-size-43: 23.65px;
    --font-size-44: 24.2px;
    --font-size-45: 24.75px;
    --font-size-46: 25.3px;
    --font-size-47: 25.85px;
    --font-size-48: 26.4px;
    --font-size-49: 26.95px;
    --font-size-50: 27.5px;
    --font-size-51: 28.05px;
    --font-size-52: 28.6px;
    --font-size-53: 29.15px;
    --font-size-54: 29.7px;
    --font-size-55: 30.25px;
    --font-size-56: 30.8px;
    --font-size-57: 31.35px;
    --font-size-58: 31.9px;
    --font-size-59: 32.45px;
    --font-size-60: 33px;
    --font-size-61: 33.55px;
    --font-size-62: 34.1px;
    --font-size-63: 34.65px;
    --font-size-64: 35.2px;
    --font-size-65: 35.75px;
    --font-size-66: 36.3px;
    --font-size-67: 36.85px;
    --font-size-68: 37.4px;
    --font-size-69: 37.95px;
    --font-size-70: 38.5px;
    --font-size-71: 39.05px;
    --font-size-72: 39.6px;
    --font-size-73: 40.15px;
    --font-size-74: 40.7px;
    --font-size-75: 41.25px;
    --font-size-76: 41.8px;
    --font-size-77: 42.35px;
    --font-size-78: 42.9px;
    --font-size-79: 43.45px;
    --font-size-80: 44px;
    --font-size-81: 44.55px;
    --font-size-82: 45.1px;
    --font-size-83: 45.65px;
    --font-size-84: 46.2px;
    --font-size-85: 38.25px;
    --font-size-86: 38.7px;
    --font-size-87: 39.15px;
    --font-size-88: 39.6px;
    --font-size-89: 40.05px;
    --font-size-90: 40.5px;
    --font-size-91: 40.95px;
    --font-size-92: 41.4px;
    --font-size-93: 41.85px;
    --font-size-94: 42.3px;
    --font-size-95: 42.75px;
    --font-size-96: 43.2px;
    --font-size-97: 43.65px;
    --font-size-98: 44.1px;
    --font-size-99: 44.55px;
    --font-size-100: 45px;
    --font-size-101: 45.45px;
    --font-size-102: 45.9px;
    --font-size-103: 46.35px;
    --font-size-104: 46.8px;
    --font-size-105: 47.25px;
    --font-size-106: 47.7px;
    --font-size-107: 48.15px;
    --font-size-108: 48.6px;
    --font-size-109: 49.05px;
    --font-size-110: 49.5px;
    --font-size-111: 49.95px;
    --font-size-112: 50.4px;
    --font-size-113: 50.85px;
    --font-size-114: 51.3px;
    --font-size-115: 51.75px;
    --font-size-116: 52.2px;
    --font-size-117: 52.65px;
    --font-size-118: 53.1px;
    --font-size-119: 53.55px;
    --font-size-120: 54px;
  }
}
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > .col,
.row.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}
.openbox-overlay,
.navigation-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  z-index: 99;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
@media (max-width: 1199px) {
  body[class$="-active"] {
    cursor: pointer;
  }
  body.mobile-navigation-active #mobile-navigation {
    height: 100%;
  }
  body.mobile-navigation-active .navigation-menu-overlay {
    display: block;
  }
}
.mobile-navigation-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacer-5);
}
#mobile-navigation {
  position: fixed;
  top: 0;
  width: 100%;
  height: 0;
  z-index: 999;
  transition: all 0.4s linear;
  background: #ffffff;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
#mobile-navigation .mobile-navigation {
  position: relative;
  height: 60%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
#mobile-navigation .level-1 {
  flex: 1 0 0%;
  padding: 0 var(--spacer-5);
}
#mobile-navigation .level-1 a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: var(--font-size-20);
  font-weight: 325;
  text-align: center;
  padding: var(--spacer-10) 0;
  border-bottom: 2px solid #dadbdc;
}
#mobile-navigation .level-1 > ul > li:last-child > a {
  border: none;
}
.form-control {
  color: #000;
  font-size: var(--font-size-13);
  border-radius: 0;
  border: 1px solid #959595;
}
.form-control::placeholder {
  color: #000;
}
.form-group .required {
  font-size: var(--font-size-14);
}
@media (max-width: 767px) {
  .form-group .required {
    right: 12px;
  }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}
.form-control:focus {
  -webkit-box-shadow: 0 0 3px 1px #f0f0f0 !important;
  box-shadow: 0 0 3px 1px #f0f0f0 !important;
}
.form-group select.form-control:not([size]):not([multiple]),
.form-group select:not([size]) {
  height: 48px;
}
.btn {
  font-size: var(--font-size-16);
  border-radius: 0;
  transition: all 0.2s linear;
}
.btn.btn-primary {
  color: #fff;
  background: #e10514;
}
.btn.btn-primary:not(.btn-loading):active,
.btn.btn-primary:not(.btn-loading).active,
.btn.btn-primary:not(.btn-loading):hover,
.btn.btn-primary:not(.btn-loading).hover,
.btn.btn-primary:not([disabled]):not(.disabled):active,
.btn.btn-primary:not([disabled]):not(.disabled).active {
  background: #fa1f2e;
  color: #fff;
}
.btn.btn-secondary {
  color: #000;
  background: #959595;
}
.btn.btn-secondary:not(.btn-loading):active,
.btn.btn-secondary:not(.btn-loading).active,
.btn.btn-secondary:not(.btn-loading):hover,
.btn.btn-secondary:not(.btn-loading).hover {
  color: #000;
  background: #7c7c7c;
}
.btn-loading:before {
  border-top-color: #e10514;
}
.loader .ball-pulse > div {
  background-color: #e10514;
}
.loading > div {
  border-top-color: #e10514;
  border-bottom-color: #e10514;
}
.loading-bar .loader {
  background: #e10514;
}
.control-label {
  color: #000;
  font-size: var(--font-size-13);
}
.fancybox-slide > * {
  display: block;
}
